.prod{
  float: left;
  padding: 10px 12px 25px;
}
.prod__inner{
  width: 396px;
  @extend .tile;
}
.access{
  background: url(../img/wave2_1.svg) no-repeat 50% 100% $c-haze;
  padding-bottom: 295px;
  position: relative;
  margin-top: -5px;
  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    background: #ffffff;
    height: 10px;
  }
  & h2 {
    font-weight: 600;
  }
  &:hover{
    .dragee__tab-4{
      transform: translate(100%, 100%);
    }
  }
  .container{
    position: relative;
  }
  .dragee__tab-1{
    width: 8px;
    height: 8px;
    right: 470px;
    top: 65px;
  }
  .dragee__tab-2{
    width: 16px;
    height: 16px;
    right: 280px;
    top: 255px;
  }
  .dragee__tab-3{
    width: 10px;
    height: 10px;
    top: 265px;
    left: 330px;
  }
  .dragee__tab-4{
    width: 18px;
    height: 18px;
    bottom: 200px;
    left: 430px;
  }
}
.access__inner{
  overflow: hidden;
}
.prod__logo-self{
  background: #F6F8FC;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
  border-radius: 16px;
  text-align: center;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prod__logo{
  margin-bottom: 30px;
}
.prod__points{
  height: 240px;
  margin-bottom: 60px;
  p{
    font-size: 14px;
    margin-bottom: 30px;
  }
  li{
    list-style: none;
    font-size: 14px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    &:before{
      color: $c-yellow;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
}
.prod__title{
  margin-bottom: 30px;
  color: $bg-blue;
  font-size: 20px;
  height: 100px;
}
#basic{
  margin-bottom: 15px;
  overflow: visible!important;
}
.scrollbar{
  margin-bottom: 10px;
  background: #F6F8FC;
  border: 4px solid #F6F8FC;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3), inset 18px 11px 31px rgba(193, 210, 226, 0.6), inset -18px -11px 57px #FFFFFF;
  border-radius: 17px;
}
.mousearea{
  background: url(../img/icons/scrl.svg) no-repeat 50% 50% #F6F8FC;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
  border-radius: 24px;
  height: 28px;
  cursor: pointer;
  &:hover{
    background-image: url(../img/icons/scrl-h1.svg);
  }
}
.slider-nav{
  display: flex;
}
.slider-nav__el{
  background: linear-gradient(0deg, #F6F8FC, #F6F8FC);
  box-shadow: 3.5px 1.75px 10.5px rgba(136, 165, 191, 0.54), -3.5px -1.75px 14px #FFFFFF;
  border-radius: 14px;
  width: 120px;
  height: 56px;
  cursor: pointer;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before{
    content: "";
    background: url("../img/icons/next.svg") no-repeat 50% 50%;
    display: block;
    width: 20px;
    height: 17px;
  }
  &:hover{
    &:before{
      background-image: url("../img/icons/next-h.svg");
    }

  }
  &.prev{
    &:before{
      transform: rotate(180deg);
    }
  }
  &.disabled{
    cursor: default;
    &:before{
      opacity: 0.3;
    }
    &:hover{
      &:before{
        background-image: url("../img/icons/next.svg");
      }
    }
  }
}
.access__txt-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 992px) {
  .access {
    padding-top: 100px;
    margin-bottom: 120px;

    & h2 {
      margin: 0 0 30px;
    }
  }
  .access_text {
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1199px){
  .pup-item__img{
    padding: 0;
  }
  .pup-item{
    margin-bottom: 100px;
  }
  .prod__inner{
    width: 220px;
  }
  .prod__title{
    font-size: 14px;
    font-weight: bold;
    height: 70px;
  }
  .prod__points{
    height: 225px;
  }
  .prod__points li{
    margin-bottom: 20px;
    font-size: 12px;
    padding-left: 25px;
  }
  .prod__points p{
    font-size: 12px;
  }
  .prod__logo-self{
    width: 40px;
    height: 40px;
    background: #F6F8FC;
    box-shadow: 2.85714px 1.42857px 11.4286px rgba(136, 165, 191, 0.48), -2.85714px -1.42857px 11.4286px #FFFFFF;
    border-radius: 11.4286px;
    padding: 9px;
  }
  .prod__logo{
    margin-bottom: 20px;
  }
  .personal__inner .col-half:last-child .personal-item{
    padding: 0;
  }
  .access{
    padding-bottom: 150px;
    h2{
      margin-bottom: 18px;
    }
  }
  .access_text{
    line-height: 156%;
    font-size: 16px;
  }
  .slider-nav__el{
    background: linear-gradient(0deg, #F6F8FC, #F6F8FC);
    box-shadow: 2.54032px 1.27016px 7.62097px rgba(136, 165, 191, 0.54), -2.54032px -1.27016px 10.1613px #FFFFFF;
    border-radius: 10.1613px;
    width: 87px;
    height: 40px;
  }
  .access__txt-btns{
    margin-bottom: 40px;
  }
  .mousearea{
    height: 14px;
    background-size: contain;
  }
  .scrollbar{
    background: #F6F8FC;
    border: 4px solid #F6F8FC;
    box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3), inset 18px 11px 31px rgba(193, 210, 226, 0.6), inset -18px -11px 57px #FFFFFF;
    border-radius: 17px;
  }
}

@media screen and (max-width: 992px){
  .access{
    padding-top: 160px;
  }
}
@media screen and (max-width: 767px){
  .access {
    margin: -5px 0 20px;
    padding-top: 70px;
    & .access_text {
      line-height: 24px;
    }
  }
  .personal {
    padding-top: 38px;
    & h2 {
      margin: 0 0 36px;
    }
  }
  .personal__inner{
    padding-top: 0;
  }
  .access_text br,
  .slider-nav{
    display: none;
  }
  .prod__points {
    height: 240px;
  }
}
