/*anti*/
.anti-section{
  background: $c-haze;
  padding: 130px 0 40px;
  margin-top: -1px;
}
.anti-sing{
  min-width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  img{
    position: relative;
    z-index: 1;
  }
}
.anti-sing__inner{
  background: #F6F8FC;
  box-shadow: 7.00599px 7.00599px 14.7126px rgba(150, 175, 199, 0.3), -3.50299px -3.50299px 11.9102px #FFFFFF;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.anti{
  display: flex;
  align-items: center;
}
.anti-text{
  font-size: 20px;
  flex: 1;
  padding-left: 40px;
}
.review{
  background: $c-white url("../img/wave3.svg") no-repeat 50% 100%;
  margin-top: -10px;
  padding: 20px 0 130px;

  & h2 {
    font-weight: 600;
  }
}
.video-pup{
  border: 10px solid #F6F8FC;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
  border-radius: 34px;
  overflow: hidden;
  position: relative;
  transition: all .5s;
  i{
    //display: inline-block;
    //height: 30px;
    //width: 23px;
   // background: url("../img/icons/play.svg") no-repeat;
  }
  &:hover{
    border-color: $c-yellow;
    .video-pup__btn-b{
      color:  $c-yellow;
    }
    i{
     // background: url("../img/icons/play-hover.svg") no-repeat;
    }
  }
}
.video-bl{
  padding-right: 15px;
}
.video-pup__btn-a{
  background: #F6F8FC;
  box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -5px -5px 17px rgba(255, 255, 255, 0.44);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.video-pup__btn-b{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #F6F8FC;
  box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -4px -4px 17px rgba(255, 255, 255, 0.25), inset 6px 4px 40px rgba(193, 210, 226, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  line-height: 30px;
  color: #DEE5EB;
  i{
    position: relative;
    top: 1px;
    left: 4px;
  }
}
/*try-get*/
.try-get{
  position: relative;
  background: url(../img/wave3.svg) no-repeat 50% 100%;
  padding-bottom: 150px;
  margin-top: -160px;
  &.try{

  }
  &.get{

  }
}
.try-get__box{
.row{
height: 326px;
background: #FFFFFF;
border: 10px solid #F8FAFC;
box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
border-radius: 24px;
display: flex;
align-items: center;
transition: all .3s;
&:hover{
border-color: $c-yellow;
}
}
}
.try-get__title{
font-size: 40px;
font-family: $f-stack-spec;
  color: #0E1D82;
}

.modal_active {
  overflow: hidden;
}
.modal-show{
  .modal_div{
    display: block;
    opacity: 1;
  }
  .modal_overlay{
    display: block;
  }
}
.modal_div {
  width: 1140px;
  height: 448px;
  position: fixed;
  top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
  left: 50%;
  margin-left: -570px;
  margin-top: -224px;
  display: none;
  z-index: 999;
  opacity: 0;
  background: $c-white;
  border: 10px solid #F8FAFC;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
  border-radius: 24px;
  .modal_close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    display: block;
    font-size: 24px;
    color: #bcc3cd;
    &:hover{
      color: $c-yellow;
    }
  }
}
/* Подложка */
.modal_overlay {
  z-index: 99;
  position: fixed;
  background-color: $c-white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.modal__body{
  display: flex;
  height: 100%;
  align-items: center;
}
.modal__col{
  width: 50%;
}
.modal__title{
  font-size: 40px;
  font-family: $f-stack-spec;
  color: $bg-blue;
  line-height: 1.1;
  padding-left: 75px;
}
.modal__text{
  font-size: 22px;
  padding-left: 75px;
}
@media screen and (min-width: 992px){
  .anti-section{
    & h2 {
      margin: 0 0 92px;
    }
  }
  .anti-section{
    & .col-md-5:nth-child(3) {
  
      .anti-sing {
  
        margin-left: 60px;
      }
    }
  }
  .anti-text{
    white-space: nowrap;
  }
}
@media screen and (max-width: 1199px){
  .video-bl{
    padding: 0;
  }
  .anti-section{
    padding: 100px 0 30px;
  }
  .anti-text{
    font-size: 15px;
    white-space: normal;
  }
  .review{
    padding: 50px 0 130px;
    .col-md-10,
    .col-md-5{
      width: 100%;
    }
  }
  .try-get__title{
    font-size: 28px;
  }
  .btn-width{
    width: 245px;
  }
  .try-get__box .row{
    height: 210px;
    border-width: 5px;
  }
  .modal__col{
    width: 95%;
  }
  .modal_div{
    width: 940px;
    margin-left: -470px;
  }
  .modal__body{
    flex-direction: column;
    justify-content: center;
  }
  .modal__title{
    margin-bottom: 40px;
  }
  .review{
    background: $c-white url("../img/wave3_tab.svg") no-repeat 50% 100%;
  }
  .anti-section .col-md-5:nth-child(3) .anti-sing{
    margin-left: 0;
  }
  .try-get{
    //background-size: 265%;
    padding-bottom: 140px;
  }
  .video-pup__btn-a{
    width: 124px;
    height: 124px;
  }
  .video-pup__btn-b{
    font-size: 27px;
  }
}
@media screen and (max-width: 992px){
  .anti-section{
    .row{
      display: flex;
      &:before,
      &:after{
        display: none;
      }
    }
    .col-md-5{
      width: 33.33%;
      &:first-child{
        .anti-sing{
          padding-left: 26px;
          img{
            left: -9px;
          }
        }
      }
    }
  }
  .anti-sing{
    width: 72px;
    height: 72px;
    padding-left: 24px;
    min-width: 0;
    img{
      left: -7px;
    }
  }
  .anti-sing__inner{
    border-radius: 13px;
  }
  .anti-text{
    padding-left: 23px;
    br{
      display: none;
    }
  }
  .modal_div{
    width: 680px;
    margin-left: -340px;
  }
  .anti-section {
    padding: 50px 0 30px;
    h2{
      margin: 0 0 65px;
    }
  }
  .try-get{
    padding-bottom: 35px;
    background-size: 170%;
    &.get{
      margin-top: -50px;
    }
  }
  .video-pup{
    border-radius: 23px;
  }
}
@media screen and (max-width: 767px){
  .review {
    padding: 20px 0 80px;
  }
  .try-get {
    margin-top: -235px;
    padding-bottom: 104px;
    &.try{
      padding-bottom: 40px;
    }
  }
  .anti-section .col-md-5{
    width: 100%;
    margin-bottom: 24px;
  }
  .anti-section .row{
    flex-wrap: wrap;
  }
  .try-get__box .row{
    height: auto;
    flex-direction: column;
    padding: 60px 5px;
    
    & .try-get__title {
      text-align: center;
    }
  }
  .try-get__box{
    padding: 0 15px;
  }
  .try-get__title{
    margin-bottom: 40px;
  }
  .modal__title{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .modal__text{
    font-size: 16px;
  }
  .modal__text,
  .modal__title{
    padding-left: 10%;
  }
  .modal_div{
    margin-left: 0;
    left: 4%;
    width: 92%;
    top:5%!important;
    margin-top: 0;
    height: 90%;
    overflow: auto;
  }
  .video-pup__btn-a{
    width: 52px;
    height: 52px;
    padding: 5px;
  }
  .video-pup__btn-b{
    font-size: 12px;
  }
  .video-pup{
    border-radius: 10px;
    border-width: 5px;
    line-height: 12px;
  }
  .video-bl{
    padding: 0;
  }
  .video-pup__btn-b i{
    left: 2px;
    top: 0;
  }
}
