.footer{
  background: $c-haze;
  color: #081157;
  padding: 60px 0;
  .row{
    margin-bottom: 60px;
  }
  a{
    &:hover{
      color: $c-yellow;
      text-decoration: none;
    }
  }
}
.bottom-menu{
  float: left;
  ul{
    padding-top: 19px;
    @extend .clear;
  }
  li{
    float: left;
    list-style: none;
    font-size: 14px;
    padding: 0 36px;
    a{
      color: #081157;
      position: relative;
      &:hover{
        &:after{
          left: 0;
          right: 0;
        }
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: $c-yellow;
        left: 50%;
        right: 50%;
        bottom: -3px;
        transition: all .5s;
      }
    }
  }
}
.footer__logo{
  font-size: 40px;
  padding-top: 5px;
  a{
    color: #31456A;
    font-weight: bold;
  }
}
.btn-nav_foot{
  background: linear-gradient(0deg, #F6F8FC, #F6F8FC);
  box-shadow: 3.5px 1.75px 10.5px rgba(136, 165, 191, 0.54), -3.5px -1.75px 14px #FFFFFF;
  color: #081157;
  border: 1px solid transparent;
  &:hover{
    border-color: $c-yellow;
  }
}
.footer__nav{
  padding-left: 30px;
  @extend .clear;
}
.footer__btns{
  float: right;
}
.footer__bottom{
  border-top: 1px solid $c-white;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  align-items: center;
}
.footer__text{
  font-size: 12px;
}
.footer__phone{
  font-size: 20px;
  a{
    color: #081157;
  }
}
.footer__text-first{
  margin-bottom: 15px;
}
@media screen and (max-width: 1199px){
  .bottom-menu li{
    font-size: 12px;
    padding: 0 25px;
  }
  .footer__text-first{
    margin-bottom: 0;
    span{
      display: block;
      margin-bottom: 15px;
    }
  }
  .btn-nav_foot{
    border-radius: 40px;
    height: 34px;
    line-height: 34px;
  }
  .footer__btns{
    padding-top: 10px;
  }
  .footer__phone{
    font-size: 24px;
  }
  .footer__logo{
    font-size: 28px;
  }
}
@media screen and (max-width: 992px){
  .bottom-menu li{
    padding: 0 19px;
  }
  .footer__nav{
    padding-left: 0;
  }
}
@media screen and (max-width: 767px){
  .footer__text-first span {
    margin-bottom: 20px;
  }
  .bottom-menu{
    display: none;
  }
  .footer__logo{
    text-align: center;
    font-size: 40px;
  }
  .footer__btns{
    float: none;
    text-align: center;
    padding-top: 35px;
  }
  .btn-nav_foot{
    height: 56px;
    line-height: 56px;
    width: 280px;
    font-size: 14px;
  }
  .footer{
    padding: 50px 0;
    .row{
      margin-bottom: 40px;
    }
  }
  .footer__bottom{
    padding-top: 40px;
    flex-direction: column-reverse;
  }
  .footer__text{
    text-align: center;
  }
  .footer__phone{
    margin-bottom: 40px;
  }
}
