input{
  &:active,
  &:focus{
    outline: none;
  }
}
input[type="email"],
input[type="text"]{
  width: 100%;
  background: #FFFFFF;
  box-shadow: inset 2px 2px 5px rgba(136, 165, 191, 0.38), inset -3px -3px 7px #FFFFFF;
  border-radius: 16px;
  height: 68px;
  border: none;
  padding: 0 10px 0 30px;
  color: $c-base;
  @include placeholder(#7A8EB4);
}
.form-group__inner{
  padding: 2px 3px;
  border: 1px solid #f0f3f8;
  border-radius: 18px;
}
.form-section{
  padding: 140px 0 180px;
}
.form-box{
  border: 10px solid #F8FAFC;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
  border-radius: 24px;
  padding: 55px 82px 80px;
  display: none;
  &.active{
    display: block;
  }
}
.form-box__text{
  font-size: 16px;
  margin-bottom: 49px;
  line-height: 24px;
}
.form-group{
  margin-bottom: 18px;
  position: relative;
  &.show-label{
    label{
      top: -14px;
      font-size: 12px;
    }
  }
  label{
    color: #7A8EB4;
    font-size: 18px;
    position: absolute;
    top: 25px;
    left: 30px;
    background: $c-white;
    transition: all .3s;
    pointer-events: none;
  }
  &.focused{
    .form-group__inner{
      border-color: #7c869f;
    }
  }
  &.err-format,
  &.err-req{
    .form-group__inner{
      border-color: #FF4040;
    }
    input{
      color: #FF4040;
    }
  }
  &.err-req{
    .err-txt-req{
      display: block;
    }
  }
  &.err-format{
    .err-txt-format{
      display: block;
    }
  }
}
.form-section-1 {

  & h2 {
    font-weight: 600;
    margin: 0 0 85px;
  }
}
.err-txt-req,
.err-txt-format{
  font-size: 12px;
  color: #FF4040;
  position: absolute;
  right: 15px;
  top: 30px;
  display: none;
}
.form-group__submit{
  padding-top: 18px;
}
.order-form__radio{
  display: flex;
  height: 160px;
  align-items: center;
  border-bottom: 1px solid #E5ECF2;
  &:first-child{
    border-top: 1px solid #E5ECF2;
  }
  label{
    font-size: 31px;
    font-family: $f-stack-spec;
    display: flex;
    cursor: pointer;
    position: relative;
    padding-left: 78px;
    height: 100%;
    align-items: center;
    width: 100%;
    &:hover{
      color: $c-yellow;
    }
    &:before{
      content: "";
      display: block;
      background: #FFFFFF;
      box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
      border-radius: 35px;
      width: 46px;
      height: 46px;
      position: absolute;
      left: 0;
      top: 55px;
    }
  }
  input[type="radio"]{
    display: none;
  }
  label.active{
    color: $bg-blue;
    &:before{
      background: #0E1D82;
      box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
      border-radius: 35px;
    }
    &:after{
      content: "";
      display: block;
      background: #F4F8FC;
      box-shadow: 5px 2px 16px rgba(136, 165, 191, 0.78), inset 0px -1px 1px rgba(85, 102, 123, 0.4);
      border-radius: 35px;
      width: 28px;
      height: 28px;
      position: absolute;
      top: 64px;
      left: 9px;
    }
  }
}
.order-form__radios{
  padding-right: 45px;
}
.form-section-2{
  margin-top: 83px;
  background: $c-white;

  & h2 {
    font-weight: 600;
  }
}
button{
  outline: none;
  &:focus,
  &:active{
    outline: none;
  }
}
.form-section .form-section-2{
  padding-top: 207px;
}
@media screen and (max-width: 1199px){
  .form-section-1 h2{
    margin: 0 0 67px;
  }
  .form-box__text{
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .form-section .form-section-2{
    padding: 140px 0 160px;
  }
  .form-section-2 {

    & h2 {
      margin: 0 0 88px;
    }
  }
}
@media screen and (max-width: 1199px){
  .order-form__radios{
    padding: 0;
  }
  .order-form__radio{
    height: auto;
    border: none;
    &:first-child{
      border: none;
    }
    label{
      border: 1px solid #ECF2F8;
      border-radius: 16px;
      font-size: 16px;
      width: 100%;
      height: 72px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      padding-left: 65px;
      &:before{
        height: 24px;
        width: 24px;
        left: 25px;
        top: 23px;
      }
      &.active{
        background: #F8FAFC;
         &:after{
           display: none;
         }
        &:before{
          background: url('../img/icons/chosen.svg') no-repeat 50% 50%;
          height: 37px;
          width: 37px;
          box-shadow: none;
          border-radius: 0;
          left: 21px;
          top: 19px;
        }
      }
    }
  }
  .form-box{
    padding: 40px 40px 50px;
  }
  input[type=email],
  input[type=text],
  input[type=tel]{
    height: 50px;
    font-size: 14px;
  }
  .form-group label{
    font-size: 13px;
    top: 19px;
  }
  .form-section{
    padding: 70px 0 80px;
    &.form-section-2{
      padding-top: 19px;
    }
  }
  .form-box {
    padding: 28px 30px 27px;
  }
  .form-box__text{
    margin-bottom: 29px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
  .form-group__submit{
    text-align: center;
  }
  .form-box{
    padding: 11px 15px;
    border-width: 5px;
  }
  .form-group{
    margin-bottom: 11px;
  }
  .form-section-2 {
    margin-top: 0px;

    & h2 {
      margin: 0 0 76px;
    }
  }
  .form-section.form-section-2 {
    padding-top: 63px;

    & button {
      font-size: 16px;
    }
  }
  .order-form__radio label{
    height: 50px;
    padding-left: 43px;
    margin-bottom: 9px;
    &:before{
      left: 11px;
      top: 11px
    }
  }
  .order-form__radio label.active{
    &:before{
      left: 9px;
      top: 7px;
    }
  }
  .order-form__radio label.active:after{
    top: 17px;
    left: 9px;
  }
  .form-section {
    padding: 20px 0 80px;
  }
  .form-section-1 {
    & h2 {
      margin: 0 0 70px;
    }
    .form-box {

      .form-group__submit {
        padding-top: 10px;

        & button {
          font-size: 16px;
        }
      } 
    }
  }
  .form-group label {
    left: 15px;
  }
  .form-box__text {
    margin-bottom: 27px;
    line-height: 19px;
  }
  .form-mobile-wrap{
    background: #FFFFFF;
    border: 4px solid #F8FAFC;
    box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
    border-radius: 24px;
    padding: 20px 15px 0;
    margin: 0 15px;
    .col-sm-8,
    .col-sm-7{
      padding: 0;
    }
    .form-box{
      box-shadow: none;
      border: none;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

