.gives{
  padding-top: 115px;
  background: $c-haze;
  &:after{
    content: "";
    display: block;
    height: 370px;
    background: url("../img/wave2_1.svg") no-repeat 50% 0;
  }
  .container{
    overflow: hidden;
    position: relative;
  }
  & h2 {
    font-weight: 600;
  }
  .dragee__tab-1{
    width: 8px;
    height: 8px;
    right: 450px;
    top: 70px;
  }
  .dragee__tab-2{
    width: 12px;
    height: 12px;
    right: 80px;
    top: 320px;
  }
  .dragee__tab-3{
    width: 10px;
    height: 10px;
    top: 270px;
    left: 320px;
  }
  .dragee__tab-4{
    width: 12px;
    height: 12px;
    bottom: 265px;
    left: 90px;
  }
  .dragee__tab-5{
    width: 10px;
    height: 10px;
    bottom: 10px;
    left: 460px;
  }
}
.gives-icon{
  background: #F6F8FC;
  border: 10px solid #F6F8FC;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3), inset 18px 11px 31px rgba(193, 210, 226, 0.3), inset -18px -11px 57px #FFFFFF;
  border-radius: 50%;
  color: $c-yellow;
  width: 76px;
  height: 76px;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}
.gives-el{
  width: 300px;
  position: absolute;
  z-index: 1;
  &.cloud{
    left: 385px;
    top: -100px;
  }
  &.chat{
    left: 820px;
    top: -60px;
  }
  &.commode{
    top: 245px;
    left: 930px;
  }
  &.world{
    top: 490px;
    left: 800px;
  }
  &.paper{
    top: 465px;
    left: 320px;
  }
  &.boxes{
    top: 160px;
    left: 130px;
  }
  .gives-icon{
    display: none;
  }
}
.gives-el__title{
  margin-bottom: 8px;
  font-size: 22px;
  color: $c-caption;
}
.circle-gives{
  background: #F6F8FC;
  box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58), -16px -2px 56px #FFFFFF;
  width: 467px;
  height: 467px;
  position: relative;
  border-radius: 50%;
  padding: 15px;
  .gives-icon{
    position: absolute;
    &.boxes{
      margin: auto;
      top: 0;
      bottom: 0;
      left: -23px;
    }
    &.commode{
      margin: auto;
      top: 0;
      bottom: 0;
      right: -23px;
    }
    &.cloud{
      top: 15px;
      left: 70px;
    }
    &.paper{
      bottom: 15px;
      left: 70px;
    }
    &.world{
      bottom: 15px;
      right: 70px;
    }
    &.chat{
      top: 15px;
      right: 70px;
    }
  }
}
.circle-gives__a{
  background: #F6F8FC;
  border: 14px solid #F6F8FC;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3), inset 18px 11px 31px rgba(193, 210, 226, 0.6), inset -18px -11px 57px #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-gives__b{
  background: #F6F8FC;
  box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -5px -5px 17px rgba(255, 255, 255, 0.44);
  border-radius: 50%;
  width: 243px;
  height: 243px;
  padding: 20px;
}
.circle-gives__c{
  background: #F6F8FC;
  box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -4px -4px 17px rgba(255, 255, 255, 0.25), inset 6px 4px 40px rgba(193, 210, 226, 0.23);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: $bg-blue;
}
.circle-gives-wr{
  padding-left: 20px;
}
.gives-wr{
  position: relative;
  padding: 30px 0 105px;
}
@media screen and (max-width: 1199px){
  .gives-el{
    position: static;
    width: 50%;
    display: flex;
    margin-bottom: 65px;
    .gives-icon{
      display: block;
      width: 50px;
      height: 50px;
      border: 5px solid #f6f8fc;
      font-size: 20px;
      line-height: 43px;
      margin-right: 20px;
      box-shadow: 1.42857px 1.42857px 6.42857px rgba(150, 175, 199, 0.3), inset 12.8571px 7.85714px 22.1429px rgba(193, 210, 226, 0.3), inset -12.8571px -7.85714px 40.7143px #FFFFFF;
    }
  }
  .row-with-circle{
    display: none;
  }
  .gives-list{
    display: flex;
    flex-wrap: wrap;
  }
  .gives-el__title{
    font-size: 16px;
  }
  .gives-el__text{
    font-size: 14px;
  }
  .gives{
    padding-top: 68px;
    &:after{
      background-size: cover;
      height: 210px;
      margin-top: -100px;
    }
  }
  .gives-wr{
    padding: 17px 0 0;
  }
  .gives {
    &:after {
      // background: url("../img/wave2_tab.svg") no-repeat 50% 0;
    }
  }
}
@media screen and (max-width: 767px){
  .gives{
    padding-top: 77px;
  }
  .gives-wr{
    padding: 0;
  }
  .gives-el{
    width: 100%;
    margin-bottom: 50px;
  }
  .gives-el__text,
  .gives-el__title{
    br{
      display: none;
    }
  }
  .gives-el__cont{
    flex: 1;
  }
}
