.info__part{
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.info__item-wr{
  margin-bottom: 40px;
  width: 25%;
  padding: 0 15px;
}
.info__item{
  height: 188px;
  padding: 40px 10px 0 40px;
}
.info__item-tile{
  background: #F6F8FC;
  box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -5px -5px 17px #FFFFFF;
  border-radius: 24px;
}
.info{
  background: url(../img/wave2_1.svg) no-repeat 50% 100% $c-haze;
  padding-top: 100px;
  margin-top: -5px;
  position: relative;
  &:after{
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    background: #fff;
    width: 100%;
    bottom: -7px;
  }
  .unified{
    background: $c-white;
    position: relative;
    top: 145px;
    z-index: 2;
  }
  & h2 {
    font-weight: 600;
  }
}
.info__title{
  font-size: 40px;
  color: $c-yellow;
  margin-bottom: 10px;
  line-height: 1;
}
.info__cap{
  font-size: 32px;
  font-family: $f-stack-spec;
  display: flex;
  align-items: center;
}
.info__text {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 992px) {
  .info{
    padding-top: 195px;
    & h2 {
      margin: 0 0 86px
    }
  }
}
@media screen and (max-width: 1199px){
  .info__text{
    font-size: 12px;
    line-height: 130%;
  }
  .info__item{
    height: 130px;
    padding: 20px 0 0 20px;
  }
  .info__cap{
    font-size: 24px;
  }
  .info__title{
    font-size: 18px;
  }
  .info .unified{
    top: 80px;
  }
  .info{
    padding-top: 140px;
  }
  .info__item-tile{
    background: #F6F8FC;
    box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -5px -5px 17px #FFFFFF;
    border-radius: 14px;
  }
}
@media screen and (max-width: 991px){
  .info__item-wr{
    padding: 0 5px;
  }
}
@media screen and (max-width: 767px){
  .info {
    padding-top: 12px;
  }
  .info__text {
    line-height: 16px;
  }
  .info__title {
    margin-bottom: 5px;
  }
  .info .unified {
    top: 42px;
  }
  .info__item {
    height: 149px;
    padding: 20px;
  }
  .info__item-wr{
    width: 50%;
    margin-bottom: 13px;
    &.info__item-wr_cap{
      width: 100%;
      text-align: center;
    }
    .info__cap{
      padding: 15px 0 0;
      height: auto;
      display: flex;
      justify-content: center;
    }
  }
  .info__part{
    flex-wrap: wrap;
  }
  .info {

    & .info__part {

      &:nth-child(3) {
        
        & .info__item-wr {

          & .info__item {

            height: 103px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 410px){

  .info{
    h2{
      br{
        display: none;
      }
    }
  }

}