.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: $bg-blue;
  z-index: 999;
  padding-top: 10vh;
  overflow: hidden;
}
.preloader__why-inner{
  border: 8px solid #FFBE26;
  box-shadow: 1.88133px 1.88133px 8.46597px rgba(11, 21, 94, 0.3);
  border-radius: 32px;
}
.preloader__why-txt{
  font-size: 26px;
  color: $c-white;
  padding-top: 22px;
}
.preloader__why-inner{
  display: flex;
  padding: 40px 10px 50px;
}
.preloader__why-col{
  display: flex;
  width: 33.33%;
}
.why-title{
  color: $c-yellow;
  font-size: 26px;
  background: $bg-blue;
  display: inline-block;
  position: relative;
  top: 21px;
  padding: 0 10px;
  left: 45px;
}
.preloader__why{
  margin-bottom: 70px;
}
.preloader__info-text-self{
  font-size: 18px;
  max-width: 550px;
  display: block;
}
.preloader__info-text{
  color: $c-white;
  width: 60%;
}
.preloader__info-title{
  color: $c-yellow;
  font-size: 26px;
  padding-left: 45px;
  width: 40%;
}
.preloader__info{
  display: flex;
}
.preload-logo{
  font-size: 58px;
  font-family: $f-stack-spec;
}
.preloader__info-first{
  margin-bottom: 30px;
}
.preloader__info-second{
  align-items: center;
}
.preloader__bottom{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.preloader__line-inner-self{
  height: 5px;
  background: #1D2D9F;
}
.preloader__line-inner{
  position: relative;
}
.preloader__cent{
  color: $c-yellow;
  padding-bottom: 5px;
  font-size: 18px;
  position: relative;
  left: 0;
  transition: all 5.4s linear;
}
.preloader__line-inner-self-wrap{
  height: 5px;
  background: #081670;
  width: 0;
  overflow: hidden;
  transition: all 5.5s linear;
}
.preload{
  .preloader__cent{
    left: 105%;
  }
  .preloader__line-inner-self-wrap{
    width: 105%;
  }
}
body.addpreload{
  overflow: hidden;
}
@media screen and (max-width: 1199px){
  .preloader{
    padding-top: 5vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .preloader__why-inner{
    flex-wrap: wrap;
  }
  .preloader__why-col{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .preloader__why-txt{
    padding: 0;
    font-size: 24px;
    br{
      display: none;
    }
  }
  .preloader__why-icon{
    width: 110px;
  }
  .preloader__why-inner{
    padding: 20px 10px 20px;
  }
  .preloader__info-title{
    padding-right: 15px;
  }
  .preloader__bottom-wr{
    padding-top: 30px;
    position: relative;
  }
}
@media screen and (max-width: 767px){
  .preloader__why-inner{
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .why-title{
    font-size: 18px;
    position: static;
    margin-bottom: 5px;
  }
  .preloader__why-txt{
    font-size: 14px;
    flex: 1;
  }
  .preloader__why-icon{
    width: 75px;
    margin-left: -15px;
  }
  .preloader__info-title{
    font-size: 18px;
    padding: 0;
    width: 100%;
  }
  .preloader__info-text-self{
    font-size: 14px;
  }
  .preload-logo{
    font-size: 48px;
  }
  .preloader__why-col{
    height: 50px;
  }
  .preloader__why{
    margin-bottom: 15px;
  }
  .preloader__info-first{
    margin-bottom: 10px;
  }
  .preloader__info{
    display: block;
  }
  .preloader__info-text{
    width: 100%;
  }
  .preloader__cent-num{
    font-size: 14px;
  }
}
