
.tabs-section{
  background: $c-haze;
  padding-top: 96px;
  overflow: hidden;


  & h2 {
    font-weight: 600;
  }
  .container{
    position: relative;
  }

  .dragee__tab-1{
     width: 8px;
     height: 8px;
    right: 290px;
    top: 130px;
   }
  .dragee__tab-2{
    width: 16px;
    height: 16px;
    right: 120px;
    top: 400px;
  }
  .dragee__tab-3{
    width: 18px;
    height: 18px;
    top: 524px;
    right: 395px;
    //display: none;
  }
  .dragee__tab-4{
    width: 18px;
    height: 18px;
    bottom: 265px;
    left: 185px;
  }
  .dragee__tab-5{
    width: 10px;
    height: 10px;
    bottom: 290px;
    right: 355px;
  }
}
.unified{
  text-align: center;
  color: $c-yellow;
  font-family: $f-stack-spec;
  font-size: 40px;
  border: 10px solid #FFBE26;
  box-sizing: border-box;
  box-shadow: 7.00599px 7.00599px 14.7126px rgba(150, 175, 199, 0.3), -3.50299px -3.50299px 11.9102px #FFFFFF;
  border-radius: 24px;
  padding: 45px 0;
  margin-bottom: 73px;
}
.unified_triangle{
  position: relative;
  &:after{
    content: "";
    display: block;
    border: 40px solid transparent;
    border-top: 25px solid $c-yellow;
    position: absolute;
    top: 102%;
    left: 50%;
    margin-left: -40px;
  }
}
.tabs__btn{
  height: 53px;
  font-size: 18px;
  padding: 0 48px;
  line-height: 53px;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  transition: all .5s;
  user-select: none;
  &:hover{
    background: $c-haze;
    box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -5px -5px 17px #FFFFFF;
    color: $c-yellow;
  }
  &.active{
    color: $c-caption;
    background: $c-haze;
    box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -5px -5px 17px #FFFFFF;
  }
}
.tabs__btns-inner{
  background: $c-haze;
  border: 4px solid $c-haze;
  box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3), inset 18px 11px 31px rgba(193, 210, 226, 0.6), inset -18px -11px 57px #FFFFFF;
  border-radius: 100px;
  padding: 10px 10px 6px;
  display: flex;
  justify-content: space-between;
}
.tile{
  background: $c-haze;
  box-shadow: 10px 10px 21px rgba(150, 175, 199, 0.3), -5px -5px 17px #FFFFFF;
  border-radius: 40px;
  padding: 47px;
  border: 4px solid #F6F8FC;
  transition: all .5s;
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    transition: all .5s;
    box-shadow: none;
    top: 0;
    left: 0;
    border-radius: 40px;
    transform: scale(1.05);
    opacity: 0;
  }
  &:hover{
    box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
    &:before{
      box-shadow: inset 18px 11px 31px rgba(193, 210, 226, 0.6), inset -18px -11px 57px #FFFFFF;
      transform: scale(1);
      opacity: 1;
    }
    .tile__btn{
      .btn__outer{
        opacity: 1;
      }
    }
    .tile__price{
      opacity: 0;
    }
  }
  .btn__outer{
    width: 100%;
  }
}
.tabs__nav{
  margin-bottom: 20px;
}
.tile__name-self{
  background: $c-haze;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
  border-radius: 16px;
  display: inline-block;
  padding: 18px;
  font-size: 20px;
  line-height: 23px;
  color: $bg-blue;
  font-family: $f-stack-spec;
  height: 56px;
}
.tile__name{
  margin-bottom: 53px;
}
.tile__inner{
  position: relative;
  z-index: 1;
}
.tile__points{
  height: 250px;
  margin-bottom: 30px;
  li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 12px;
    letter-spacing: -.2px;
    padding-left: 35px;
    position: relative;
    @extend .icon-check;
    &:before{
      @include icomoon();
      color: $c-yellow;
      position: absolute;
      left: 0;
      top: 5px;
      font-size: 13px;
    }
  }
}
.tile__text{
  font-size: 14px;
  line-height: 22px;
  height: 130px;
  margin-bottom: 45px;
  border-top: 1px solid #ffffff;
  padding-top: 20px;
}
.tile__price{
  color: $bg-blue;
  font-size: 18px;
  opacity: 1;
  transition: all .3s;
  font-weight: 600;
}
.tabs__item{
  opacity: 0;
  z-index: -5;
  transition: all .5s;
  position: absolute;
  padding-bottom: 20px;
  &.active{
    opacity: 1;
    z-index: 0;
    position: relative;
  }
  &.move{
    left: 0;
  }
  .col-md-5{
    width: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    left: 15px;
  }
  .frame{
    overflow: visible!important;
    margin-bottom: 20px;
  }
}
.tabs{
  margin-bottom: 68px;
}
.tile__btn{
  position: absolute;
  left: 0;
  width: 100%;
  top: -25px;
  transition: all .3s;
  .btn__outer{
    opacity: 0;
  }
  .btn{
    width: 100%;
    transition: all .3s;
  }
}
.tile__btn-n-price{
  position: relative;
}
.tabs-bottom{
  margin-bottom: 120px;
  .row{
    display: flex;
    align-items: center;
  }
}
.tabs-bottom__text{
  font-size: 32px;
  color: $c-caption;
  font-family: $f-stack-spec;
}
.tabs-bottom__btn{
  text-align: right;
  .btn{
    width: 320px;
    i{
      position: relative;
      top: 1px;
    }
  }
}
.tabs__item{

  &::-webkit-scrollbar {
    height: 28px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #F6F8FC;
    border: 4px solid #F6F8FC;
    box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3), inset 18px 11px 31px rgba(193, 210, 226, 0.6), inset -18px -11px 57px #FFFFFF;
    border-radius: 17px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: url(../img/icons/scrl.svg) no-repeat 50% 50% #F6F8FC;
    box-shadow: 2px 2px 9px rgba(150, 175, 199, 0.3);
    border-radius: 24px;
    height: 28px;
    width: 130px;
    cursor: pointer;
    &:hover{
      background-image: url(../img/icons/scrl-h1.svg);
    }
  }
  &::-webkit-scrollbar-button {  background-color: transparent; }
  &::-webkit-scrollbar-corner { background-color: transparent;}

}
//.tabs__cont{
//  .tabs__item{
//    &:nth-child(1),
//    &:nth-child(2){
//      overflow: hidden;
//    }
//    &:nth-child(4),
//    &:nth-child(3){
//      .row{
//        width: 1520px;
//      }
//    }
//  }
//}
#scrollbar_0,
#scrollbar_1,
.tabs__btns-select{
  display: none;
}
@media screen and (max-width: 1199px){
  .unified{
    padding: 32px 0;
    font-size: 26px;
    border: 6px solid #ffbe26;
    margin-bottom: 60px;
  }
  .unified_triangle:after{
    margin-left: -30px;
    border: 30px solid transparent;
    border-top: 15px solid #ffbe26;
  }
  .tabs-section{
    padding-top: 20px;
  }
  .tabs__btn{
    font-size: 12px;
    height: 40px;
    padding: 0px 40px;
    line-height: 40px;
  }
  .tabs__btns-inner{
    padding: 5px;
  }
  .tabs__item .col-md-5{
    width: 313px;
  }
  .prod__inner, .tile{
    padding: 20px 15px;
    border-radius: 16px;
    &:before{
      border-radius: 16px;
    }
  }
  .tile__name-self{
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    padding: 13px 12px;
    border-radius: 8px;
    background: #F6F8FC;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
  }
  .tile__points{
    height: 210px;
    li{
      font-size: 12px;
      padding-left: 25px;
      &:before{
        top: 2px;
      }
    }
  }
  .tile__text{
    font-size: 12px;
    line-height: 20px;
    height: 110px;
  }
  .tile__name{
    margin-bottom: 30px;
  }
  .tabs-bottom__text{
    font-size: 24px;
  }
  .tabs-bottom__btn .btn{
    width: 270px;
  }
  //.tabs__cont{
  //  .tabs__item{
  //    &:nth-child(4),
  //    &:nth-child(3){
  //      .row{
  //        width: 1255px;
  //      }
  //    }
  //  }
  //}
  .tabs-section {
    padding-top: 56px;
  }
  .tabs{
    margin-bottom: 40px;
  }
  .tabs-bottom{
    margin-bottom: 85px;
  }
  .tabs__item{
    &::-webkit-scrollbar {
      height: 20px;
    }
    &::-webkit-scrollbar-thumb{
      background-size: contain;
    }
  }
}
@media screen and (max-width: 992px){
  .tabs__btn{
    padding: 0 25px;
  }
  .tabs__item .col-md-5{
    width: 240px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .tile__points li{
    margin-bottom: 10px;
  }
    .tile__text{
      line-height: 20px;
      height: 150px;
    }
  //.tabs__cont{
  //  .tabs__item{
  //    &:nth-child(4),
  //    &:nth-child(3){
  //      .row{
  //        width: 962px;
  //      }
  //    }
  //  }
  //}

}
@media screen and (max-width: 767px){
  .unified{
    padding: 16px 15px;
    margin-bottom: 48px;
  }
  .tabs {
    margin-bottom: 54px;
  }
  .tabs-bottom .row{
    flex-direction: column;
  }
  .tabs-bottom__text{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
  }
  //.tabs__cont{
  //  .tabs__item{
  //    &:nth-child(1),
  //    &:nth-child(2){
  //      overflow-x: auto;
  //      overflow-y: hidden;
  //      .row{
  //        width: 724px;
  //      }
  //    }
  //  }
  //}
  .tabs-bottom__btn .btn{
    font-size: 16px;
  }
  .tabs__btns-select{

    padding: 2px 3px;
    border: 1px solid #f0f3f8;
    border-radius: 18px;
    display: block;
    position: relative;
    &.open{
      color: #112089;
      &:after{
        transform: rotate(180deg);
        background: url("../img/icons/arrsel2.svg") no-repeat 50% 50%;
      }
      .tabs__btns-select-inner{
        box-shadow: inset 2px 2px 5px rgba(136, 165, 191, 0.38), inset -3px -3px 7px #FFFFFF;
        background: #F6F8FC;
      }
    }
    &:after{
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      background: url("../img/icons/arrgrey.svg") no-repeat 50% 50%;
      position: absolute;
      transition: all .3s;
      transform: rotate(0);
      right: 15px;
      top: 20px;
    }
    .tabs__btns-select-inner{
      background: #F6F8FC;
      box-shadow: inset 2px 2px 5px rgba(136, 165, 191, 0.38), inset -3px -3px 7px #FFFFFF;
      border-radius: 16px;
      height: 52px;
      padding: 17px 10px 0 21px;
      color: #112089;
      font-weight: bold;
    }
  }
  .tabs__btns{
    position: relative;
  }
  .tabs__btns-inner{
    position: absolute;
    flex-direction: column;
    border-radius: 18px;
    background: #fff;
    border: 1px solid #f0f3f8;
    width: 100%;
    z-index: 5;
    left: 0;
    top: 100%;
    display: none;
    box-shadow: none;
  }
  .tabs__btn{
    text-align: left;
    &:not(:last-child){
      &:after{
        content: "";
        display: block;
        border-bottom: 1px solid #EEF0F2;
      }
    }
  }
  .tile {
    padding: 20px;
  }
  .tile__points{
    
    li{
      &:before{
        font-size: 9px;
        top: 4px;
      }
    }
  }
  .tile__price {
    font-size: 16px;
  }
  .tile__text {
    margin-bottom: 15px;
    height: 195px;
  }
  .tile__name-self{
    background: #F6F8FC;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
    border-radius: 8px;
  }
}
@media screen and (min-width: 768px){
  .tabs__btns-inner{
    display: flex!important;
  }
}
@media screen and (max-width: 740px){
  #scrollbar_0,
  #scrollbar_1{
    display: block;
  }
}
