.clear{
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin placeholder($params) {
  &::-webkit-input-placeholder {
    color: $params;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $params;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $params;
    opacity: 1;
  }
  &::placeholder {
    color: $params;
    opacity: 1;
  }
}
@mixin icomoon(){
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
