$c-black: #000000;
$c-white: #ffffff;
$bg-base: $c-white;
$bg-blue: #0E1D82;
$c-caption: #112089;

$c-yellow: #FFBE26;
$c-base: #31456A;;
$c-haze: #F6F8FC;
$link: $c-black;

$f-size: 16px;

$line-height: 1.6;

$f-stack: 'Object Sans', sans-serif;
$f-stack-spec: 'Atomic', sans-serif;
