<section class="anti-section" id="anti">
    <div class="container">
        <h2 class="wow fadeInLeft">LIGA360 &mdash;<br>антикризовий інструмент для</h2>
        <div class="row">
            <div class="col-md-5">
                <div class="anti fadeIn wow">
                    <div class="anti-sing">
                        <div class="anti-sing__inner"></div>
                        <img src="img/anti1.svg" alt="">
                    </div>
                    <div class="anti-text">Великого, <br>середнього, <br>малого бізнесу</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="anti fadeIn wow" data-wow-delay="0.5s">
                    <div class="anti-sing">
                        <div class="anti-sing__inner"></div>
                        <img src="img/anti2.svg" alt="">
                    </div>
                    <div class="anti-text">Приватних <br>підприємців, аудиторів, <br>адвокатів</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="anti fadeIn wow" data-wow-delay="1s">
                    <div class="anti-sing">
                        <div class="anti-sing__inner"></div>
                        <img src="img/anti3.svg" alt="">
                    </div>
                    <div class="anti-text">Органів влади <br>та державних <br>компаній</div>
                </div>
            </div>
        </div>
    </div>
</section>
