<%
let teamItems = [

    {
        title: 'Smart-сигнали про зміни в реєстрах і правовому полі',
        text: 'Ставте на контроль нормативні акти, судові рішення, контрагентів чи нерухомість. Моніторте їх стан. Своєчасно отримуйте сигнали про зміни',
        thumb: 'img/content/team5.png',
        full: 'img/content/team5.png'
    },
    {
        title: 'Продукти ЛІГА:ЗАКОН з&nbsp;миттєвим доступом до&nbsp;головних функцій',
        text: 'Налаштуйте швидкий доступ до&nbsp;пріорітетних функцій, документів або&nbsp;продуктів, якими ви користуєтеся найчастіше',
        thumb: 'img/content/team6.png',
        full: 'img/content/team6.png'
    },
];
%>
<section class="control">
    <div class="container">
        <div class="dragee dragee__tab-1"></div>
        <div class="dragee dragee__tab-2"></div>
        <div class="dragee dragee__tab-3"></div>
        <div class="dragee dragee__tab-4"></div>
        <div class="dragee dragee__tab-5"></div>
        <h2 class="wow fadeInDown">Усе під контролем <br>з LIGA360</h2>
        <div class="pup-list">
            <% teamItems.forEach(item => { %>
                <%- include('pup-item', {item})%>
            <%})%>
        </div>
    </div>
</section>
