<section class="first-section">
    <div class="facade d-table">
        <div class="facade__inner d-cell">
            <div class="container">
                <div class="row">
                    <div class="col-half">
                        <div class="facade__cont wow fadeIn" data-wow-delay="7.4s">
                            <h1>LIGA360</h1>
                            <div class="facade__text">
                                екосистема хмарних продуктів <br>для командного управління ризиками
                            </div>
                            <div class="facade__btns">
                                <a href="#form-section-1" class="btn btn_yellow toanchor">Спробувати LIGA360</a>
                                <a href="#vantage" class="facade__link toanchor">Більше про переваги <span><img src="img/icons/points.svg"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-half with-circle">
                        <div class="circle wow fadeInLeft" data-wow-delay="6.4s">
                            <div class="circle__inner">
                                <div class="circle__text d-table">
                                    <div class="d-cell">
                                        <img src="img/circle-text.svg" alt="">
                                    </div>
                                </div>
                                <div class="circle__logo">
                                    <div class="circle__logo-inner">
                                        <i class="icon-logo"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vantage" id="vantage">
        <div class="vantage__main">
            <div class="container">
                <h2 class="wow fadeInUp">Переваги LIGA360</h2>
                <div class="row color-yellow wow fadeInUp">
                    <div class="col-md-7">
                        <div class="advant">
                            <div class="advant__check">
                                <i class="icon-check"></i>
                            </div>
                            <div class="advant__text">Обговорення, аналіз і&nbsp;контроль <br>зовнішніх ризиків і&nbsp;критичних змін</div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="advant">
                            <div class="advant__check">
                                <i class="icon-check"></i>
                            </div>
                            <div class="advant__text">Ефективна віддалена <br>робота усієї команди</div>
                        </div>
                    </div>
                </div>
                <div class="row color-yellow wow fadeInUp">
                    <div class="col-md-7">
                        <div class="advant">
                            <div class="advant__check">
                                <i class="icon-check"></i>
                            </div>
                            <div class="advant__text">Ключова бізнес-інформація <br>для правильних рішень </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="advant">
                            <div class="advant__check">
                                <i class="icon-check"></i>
                            </div>
                            <div class="advant__text">Єдиний інформаційний <br>простір</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vantage__wave"></div>
    </div>
</section>
