<%
let menu = [
    {title: 'Що це',href: '#vantage'},
    {title: 'Для кого',href: '#anti'},
    {title: 'Пакети',href: '#packages'},
    {title: 'Відеоогляд',href: '#review'},
    {title: 'Продукти',href: '#products'}
]
%>
<footer class="footer">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-sm-2">
                <div class="footer__bar">
                    <div class="footer__logo">
                        <a class="icon-logo" href="/"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-13">
                <div class="footer__nav">
                    <div class="bottom-menu">
                        <ul>
                            <% menu.forEach(item => { %>
                            <li>
                                <a class="toanchor" href="<%=item.href%>"><%=item.title%></a>
                            </li>
                            <%})%>
                        </ul>
                    </div>
                    <div class="footer__btns">
                        <a class="btn-nav btn-nav_foot toanchor" href="#form-section-2">Замовити дзвінок</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__text">
                <div class="footer__text-first">
                    <span>© ТОВ "інформаційно-аналітичний центр ЛІГА", 1991-2020</span>
                    <span>© ТОВ "ЛІГА ЗАКОН", 2007-2020</span>
                </div>
                <div><span>© Інформаційне агенство "ЛІГА:ЗАКОН", 2010-2020.</span></div>
            </div>
            <div class="footer__phone">
                <a href="tel:+380800210103">0-800-210-103</a>
            </div>
        </div>
    </div>
</footer>
