<section class="form-section form-section-<%=id%>">
    <div class="container"  id="form-section-<%=id%>">
        <h2 class="wow fadeInLeft">Як отримати <br>LIGA360</h2>
        <div class="order-form">
            <div class="row wow fadeInUp">
                <div class="form-mobile-wrap">
                    <div class="col-sm-7">
                        <div class="order-form__radios">
                            <div class="order-form__radio">
                                <input type="radio"
                                       name="client"
                                       id="client-1-<%=id%>"
                                       checked
                                       value="0">
                                <label class="active" data-index="0" for="client-1-<%=id%>">Я ще не клієнт ЛІГА:ЗАКОН</label>
                            </div>
                            <div class="order-form__radio">
                                <input type="radio" name="client" id="client-2-<%=id%>" value="1">
                                <label  data-index="1" for="client-2-<%=id%>">Я клієнт ЛІГА:ЗАКОН</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <form class="form-box active">
                            <div class="form-box__text">Заповніть форму та отримайте на пошту запрошення для вас і ваших колег, щоб ефективніше працювати в команді</div>
                            <div class="form-group">
                                <label>Ім'я та Прізвище</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-name" type="text" name="name">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Посада</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-position" type="text" name="position">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Електронна пошта</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-email" type="email" name="email">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Телефон</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-phone" type="text" name="phone">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Назва компанії або код ЄДПРОУ</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-company" type="text" name="company">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group form-group__submit">
                                <button type="submit" class="btn__outer">
                                    <span class="btn btn-base btn-width btn__inner">Отримати запрошення</span>
                                    <span class="btn__blur"></span>
                                </button>
                            </div>
                        </form>
                        <form class="form-box">
                            <div class="form-box__text">Заповніть форму та отримайте на пошту запрошення для вас і ваших колег, щоб ефективніше працювати в команді</div>
                            <div class="form-group">
                                <label>Ім'я та Прізвище</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-name" type="text" name="name">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Посада</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-position" type="text" name="position">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Електронна пошта</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-email" type="email" name="email">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Телефон</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-phone" type="text" name="phone">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group">
                                <label>Назва компанії або код ЄДПРОУ</label>
                                <div class="form-group__inner">
                                    <input class="form-ctrl form-ctrl-company" type="text" name="company">
                                </div>
                                <div class="err-txt-format">Невірні дані</div>
                                <div class="err-txt-req">Обов’язково</div>
                            </div>
                            <div class="form-group form-group__submit">
                                <button type="submit" class="btn__outer">
                                    <span class="btn btn-base btn-width btn__inner">Отримати запрошення</span>
                                    <span class="btn__blur"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
