<%
let gives = [
{
title: 'Моніторинг ризиків <br>і можливостей ',
text: 'що можуть вплинути <br>на вашу компанію',
icon: 'cloud'
},
{
title: 'Чат <br>із командою',
text: 'для обговорення та спільної роботи <br>над документами й новинами',
icon: 'chat'
},
{
title: 'Продукти ЛІГА:ЗАКОН',
text: 'зі швидким доступом <br>в єдиному робочому <br>просторі',
icon: 'boxes'
},
{
title: 'Упорядкована <br>база знань',
text: 'для швидкого зберігання <br>та пошуку документів',
icon: 'commode'
},
{
title: 'Лише <br>найважливіші новини',
text: 'відфільтровані під ваші <br>запити',
icon: 'paper'
},
{
title: 'Єдиний робочий <br>простір',
text: 'з онлайн-доступом <br>звідусіль',
icon: 'world'
},
];
%>

<section class="gives">
    <div class="container">
        <div class="dragee dragee__tab-1"></div>
        <div class="dragee dragee__tab-2"></div>
        <div class="dragee dragee__tab-3"></div>
        <div class="dragee dragee__tab-4"></div>
        <div class="dragee dragee__tab-5"></div>
        <h2 class="wow fadeInRight">Що дає<br>LIGA360</h2>
        <div class="gives-wr wow fadeInUp">
            <div class="gives-list">
                <% gives.forEach(item => {%>
                    <div class="gives-el <%=item.icon%>">
                        <div class="gives-icon"><i class="icon-<%=item.icon%>"></i></div>
                        <div class="gives-el__cont">
                            <div class="gives-el__title"><%-item.title%></div>
                            <div class="gives-el__text"><%-item.text%></div>
                        </div>
                    </div>
                <%})%>
            </div>
            <div class="row row-with-circle">
                <div class="col-md-offset-5 col-md-10">
                    <div class="circle-gives-wr">
                        <div class="circle-gives">
                            <div class="circle-gives__a">
                                <% gives.forEach(item => {%>
                                    <div class="gives-icon <%=item.icon%>"><i class="icon-<%=item.icon%>"></i></div>
                                <%})%>
                                <div class="circle-gives__b">
                                    <div class="circle-gives__c">
                                        <i class="icon-logo"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
