<%
let mainInfo = [
    {
        title: '6,6 млн',
        text: 'досьє на компанії <br>та ФОП України'
    },
    {
        title: '40+',
        text: 'державних реєстрів <br>та відкритих джерел'
    },
    {
        title: '1,5 млн',
        text: 'нормативно-правових <br>документів, аналітичних <br>матеріалів'
    },
    {
        title: '85 млн',
        text: 'судових рішень'
    },
]
let moreInfo = [
    {
        title: '20+',
        text: 'телеканалів'
    },
    {
        title: '15+',
        text: 'радіостанцій'
    },
    {
        title: '1 800+',
        text: 'інтернет та друкованих <br>ЗМІ'
    },
]
 %>

<section class="info">
    <div class="container">
        <h2 class="wow fadeInLeft">LIGA360 — миттєвий доступ <br>
            до важливої інформації</h2>
        <div class="info__part wow fadeInUp">
            <% mainInfo.forEach(el => {%>
            <div class="info__item-wr">
                <div class="info__item info__item-tile">
                    <div class="info__title"><%-el.title%></div>
                    <div class="info__text"><%-el.text%></div>
                </div>
            </div>
            <% })%>
        </div>
        <div class="info__part wow fadeInUp">
            <div class="info__item-wr info__item-wr_cap">
                <div class="info__item info__cap">Моніторинг <br>1835+ медіа</div>
            </div>
            <% moreInfo.forEach(el => {%>
           <div class="info__item-wr">
                <div class="info__item info__item-tile">
                    <div class="info__title"><%-el.title%></div>
                    <div class="info__text"><%-el.text%></div>
                </div>
           </div>
            <% })%>
        </div>
        <div class="unified wow fadeInRight">
            LIGA360 створено на підтримку українського бізнесу
        </div>
    </div>
</section>
