<div class="modal_overlay"></div>
<div class="modal_div">
    <div class="modal_close">
        <i class="icon-close"></i>
    </div>
    <div class="modal__body">
        <div class="modal__col">
            <div class="modal__title">
                Дякуємо, <br>
                що заповнили форму
            </div>
        </div>
        <div class="modal__col">
            <div class="modal__text">
                <p>Перевірте свою пошту.</p>

                <p> Ми надіслали на неї запрошення<br>
                    в LIGA360 для вас та ваших колег</p>
            </div>
        </div>
    </div>
</div>
