<div class="preloader">
    <div class="container">
        <div class="preloader__why">
            <div class="why-title">Чому саме зараз?</div>
            <div class="preloader__why-inner">
                <div class="preloader__why-col">
                    <div class="preloader__why-icon">
                        <img src="img/icons/sign.svg" alt="">
                    </div>
                    <div class="preloader__why-txt">
                        Роз’єднана <br>відстанню <br>команда
                    </div>
                </div>
                <div class="preloader__why-col">
                    <div class="preloader__why-icon">
                        <img src="img/icons/sign.svg" alt="">
                    </div>
                    <div class="preloader__why-txt">
                        Безмежний <br>потік <br>інформації
                    </div>
                </div>
                <div class="preloader__why-col">
                    <div class="preloader__why-icon">
                        <img src="img/icons/sign.svg" alt="">
                    </div>
                    <div class="preloader__why-txt">
                        Нерозуміння, <br>як взяти під <br>контроль всі <br>ризики
                    </div>
                </div>
            </div>
        </div>
        <div class="preloader__info preloader__info-first">
            <div class="preloader__info-title">Чому ми?</div>
            <div class="preloader__info-text">
                <span class="preloader__info-text-self">Ми об’єднали експертизу, накопичену за 28 років роботи, щоб створити екосистему хмарних продуктів ЛІГА:ЗАКОН для командної роботи над управлінням ризиками і пошуком нових можливостей</span>
            </div>
        </div>
        <div class="preloader__info preloader__info-second">
            <div class="preloader__info-title">Що пропонуємо?</div>
            <div class="preloader__info-text">
                <div class="preload-logo">LIGA360</div>
            </div>
        </div>

    </div>
    <div class="preloader__bottom-wr">
        <div class="preloader__bottom">
            <div class="preloader__line">
                <div class="preloader__line-inner">
                    <div class="preloader__cent">
                        <span class="preloader__cent-num">0</span>
                        <span>%</span>
                    </div>
                    <div class="preloader__line-inner-self">
                        <div class="preloader__line-inner-self-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
