<%
let teamItems = [

    {
        title: 'Управління ризиками та&nbsp;можливостями',
        text: 'Спільно з командою оцінюйте бізнес-ризики на базі новин, шукайте нові можливості в умовах постійних змін, отримуйте сповіщення через Telegram-бот',
        thumb: 'img/content/team1.png',
        full: 'img/content/team1.png'
    },
    {
        title: 'Бізнес-розвідка',
        text: 'Відслідковуйте зміни статусів в реєстрах, щодо вашої компанії та нерухомості, діяльності конкурентів та контрагентів, контролюйте медіапростір, перевіряйте судові справи',
        thumb: 'img/content/team2.png',
        full: 'img/content/team2.png'
    },
    {
        title: 'Бізнес-чат для професійних тем ',
        text: 'Обговорюйте новини та аналізуйте разом проблеми, актуальні для вашого бізнесу',
        thumb: 'img/content/team3.png',
        full: 'img/content/team3.png'
    },
    {
        title: 'База корисних посилань',
        text: 'Тримайте під рукою корисні посилання. Створюйте тематичні підбірки з продуктів ЛІГА:ЗАКОН, або інших джерел. Діліться з&nbsp;колегами',
        thumb: 'img/content/team4.png',
        full: 'img/content/team4.png'
    },
];
 %>
<section class="teamwork">
    <div class="container">
        <div class="dragee dragee__tab-1"></div>
        <div class="dragee dragee__tab-2"></div>
        <div class="dragee dragee__tab-3"></div>
        <div class="dragee dragee__tab-4"></div>
        <div class="dragee dragee__tab-5"></div>
        <div class="dragee dragee__tab-6"></div>
        <div class="dragee dragee__tab-7"></div>
        <div class="dragee dragee__tab-8"></div>
        <h2 class="wow fadeInLeft">Спільна робота <br>для підсилення команд</h2>
        <div class="pup-list">
            <% teamItems.forEach(item => { %>
                <%- include('pup-item', {item})%>
            <%})%>
        </div>
    </div>
</section>
