<section class="try-get <%=data.cssClass%>">
    <div class="container">
        <div class="try-get__box wow fadeInRight">
            <div class="row">
                <div class="col-sm-7 col-sm-offset-1">
                    <div class="try-get__title"><%-data.title%></div>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <a href="<%=data.href%>" class="toanchor btn__outer">
                        <span class="btn btn-base btn-width btn__inner"><%=data.btn%></span>
                        <span class="btn__blur"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
