<%
    let tryData = {
        title: 'Спробуйте переваги <br>LIGA360 вже зараз',
        href: '#form-section-1',
        btn: 'Отримати запрошення',
        cssClass: 'try'
    }
    let getData = {
        title: 'Отримайте готове рішення <br>LIGA360 спеціально <br>для вашої компанії',
        href: '#form-section-2',
        btn: 'Підібрати рішення',
        cssClass: 'get'
    }
 %>


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/vendor.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.min.css" type="text/css">
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <title>Liga</title>
</head>
<body class="addpreload">
<%- include('includes/preloader')%>
<%- include('includes/header')%>
<%- include('includes/first-section')%>
<%- include('includes/anticrisis')%>
<%- include('includes/tabs/tabs')%>
<%- include('includes/form', {id: 1})%>
<%- include('includes/gives')%>
<%- include('includes/review')%>
<%- include('includes/teamwork')%>
<%- include('includes/control')%>
<%- include('includes/personal')%>
<%- include('includes/try-get', {data: tryData})%>
<%- include('includes/access/access')%>
<%- include('includes/try-get', {data: getData})%>
<%- include('includes/info')%>
<%- include('includes/form', {id: 2})%>
<%- include('includes/footer')%>
<%- include('includes/modal')%>

<script src="js/vendor.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>
<script src="js/app.min.js" type="text/javascript"></script>

</body>
</html>
