<%
let items = [
    {
        title: 'Інформаційно-правові системи підтримки бізнесу LigaZakon Systems',
        logo: 'img/icons/logo1.svg',
        points: [
            'Швидко знаходьте нормативні документи, роз’яснення, аналітику бланки та інструкції',
            'Порівняйте редакції, дізнавайтесь експертну думку щодо застосувань конкретних норм',
            'Відстежуйте зміни за важливими для вас документами',
        ],
        url: 'https://store.ligazakon.net/products/ips',
        price: '360'
    },
    {
        title: 'Аналітична система перевірки та моніторингу юридичних осіб CONTR AGENT',
        logo: 'img/icons/logo2.svg',
        points: [
            'Знаходьте дані про понад 6,5 млн компаній та ФОПів',
            'Оцінюйте надійність та зв\'язки потенційного партнера',
            'Отримуйте миттєвий аналіз компаній на ризиковість',
            'Стежте за змінами партнера в режимі 24/7'
        ],
        url: 'https://ca.ligazakon.net/',
        price: '28'
    },
    {
        title: 'Аналіз судових рішень VERDICTUM',
        logo: 'img/icons/logo3.svg',
        points: [
            'Швидко шукайте та фільтруйте інформацію по всіх справах',
            'Налаштуйте систему на конкретну дату та аналізуйте справи станом на неї',
            'Аналізуйте історію кожної справи з посиланнями на всі документи',
            'Стежте за розкладом засідань та отримуйте сповіщення про зміни'
        ],
        url: 'https://store.ligazakon.net/products/verdictum',
        price: '420'
    },
    {
        title: 'Система аналізу та моніторингу згадок про бренд у медіа-просторі Semantrum',
        logo: 'img/icons/semantrum.png',
        points: [
            'Стежте за будь-якими згадками в соціальних мереж, онлайн та друкованих ЗМІ, ТБ і Радіо',
            'Відстежуйте тональність та географію публікацій',
            'Аналізуйте інформацію в графічному вигляді',
            'Автоматично генеруйте звіти'
        ],
        url: 'https://semantrum.ligazakon.net/uk/',
        price: '2 000'
    },
    {
        title: 'Сервіс для захисту нерухомості від несанкціонованої зміни власника SMS-МАЯК',
        logo: 'img/icons/sms-earth_medium.png',
        points: [
            'Встановлюте на моніторинг будь-які об’єкти нерухомості за реєстраційним номером',
            'Завантажуйте за ЕЦП весь список нерухомого майна та земельних ділянок яке є у власності',
            'Отримуйте миттєві сповіщення про реєстраційні зміни на ранніх стадіях'
        ],
        url: 'https://smsmayak.ligazakon.net/',
        price: '30'
    },
    {
        title: 'Онлайн-сервіс звітності Liga:Report',
        logo: 'img/icons/report_miedium.png',
        points: [
            'Подавайте звітність до держорганів онлайн',
            'Адмініструйте ПДВ легко та контролюйте ризики блокування',
            'Обмінюйтесь документами з контрагентами (ЕДО)',
            'Перевіряйте податкову заборгованість, статус контрагентів',
        ],
        url: 'https://report.ligazakon.net/',
        price: '28'
    },
    {
        title: 'Аналітичні видання',
        logo: 'img/icons/empty.svg',
        text: '<p><strong>Вісник МСФЗ</strong> — все про застосування міжнародних стандартів фінансової звітності</p>' +
                '<p><strong>Бухгалтер&Закон та <br>Юрист&Закон</strong> — аналітика та практичні рекомендації експертів</p>' +
                '<p><strong>Інтерактивна бухгалтерія</strong> — формуйте стрічку аналітики та новин за цікавими для вас темами</p>',
        points: [],
        url: 'https://store.ligazakon.net/',
        price: '330'
    },
]
 %>

<section class="access">
    <div class="dragee dragee__tab-4"></div>
    <div class="access__inner">
        <div class="container" id="products">
            <div class="dragee dragee__tab-1"></div>
            <div class="dragee dragee__tab-2"></div>
            <div class="dragee dragee__tab-3"></div>
            <h2 class="wow fadeInDown">Ви автоматично отримаєте <br>доступ до LIGA360</h2>
            <div class="access__txt-btns" class="wow fadeInUp">
                <div class="access_text">якщо вже користуєтеся або купите будь-який <br>із наших продуктів</div>
                <div class="slider-nav">
                    <div class="slider-nav__el prev"></div>
                    <div class="slider-nav__el next"></div>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="frame wow fadeIn" id="basic">
            <div class="clear">
                <% items.forEach(item => { %>
                    <%- include('item', {item})%>
                <%})%>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="scrollbar" id="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
    </div>
</section>
