<div class="prod">
    <div class="prod__inner">
        <div class="prod__logo">
            <div class="prod__logo-self">
                <img src="<%=item.logo%>" alt="">
            </div>
        </div>
        <div class="prod__title"><%-item.title%></div>
        <% if(item.points.length){%>
            <ul class="prod__points">
                <% item.points.forEach(el => {%>
                    <li class="icon-check"><%-el%></li>
                <%})%>
            </ul>
        <%}%>
        <% if(item.text){%>
            <div class="prod__points">
                <%-item.text%>
            </div>
        <%}%>
        <div class="tile__btn-n-price">
            <div class="tile__price">
                від <%=item.price%> грн/міс
            </div>
            <div class="tile__btn">
                <a href="#" class="btn__outer">
                    <span class="btn btn-base btn__inner">Замовити</span>
                    <span class="btn__blur"></span>
                </a>
            </div>
        </div>
    </div>
</div>
