<%
let tabItem = [
[
    {
        name: 'CEO <b>S</b>',
        points: [
        'CONTR AGENT Оптимальний',
        'ПРАВО УКРАЇНИ',
        'SMS-МАЯК ОПЦІЯ 2'
    ],
        text: 'Базовий пакет для <strong>моніторингу ключових контрагентів</strong> і орієнтації в нормативно-правовому полі, <strong>моніторингу об\'єктів нерухомості</strong>',
        price: '1 300',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-director-s/'
    },
    {
        name: 'CEO <b>M</b>',
        points: [
            'CONTR AGENT Оптимальний',
            'ІПС ПРАЙМ',
            'SMS-МАЯК ОПЦІЯ 2'
        ],
        text: "Оптимальний пакет для <strong>відстеження змін в правовому полі</strong> і всебічного <strong>моніторингу контрагентів, моніторингу об'єктів нерухомості</strong>" ,
        price: '3 774',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-director-m/'
    },
    {
        name: 'CEO <b>L</b>',
        points: [
            'SEMANTRUM Оптимальний',
            'CONTR AGENT Оптимальний',
            'ІПС ПРАЙМ',
            'SMS-МАЯК ОПЦІЯ 2',
        ],
        text: 'Розширений пакет для <strong>відстеження змін в правовому полі</strong>,  всебічного <strong>моніторингу контрагентів і згадок в медіа</strong> (власна репутація, ТМ, події), <strong>моніторингу об\'єктів нерухомості</strong>',
        price: '7 388',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-director-l/'
    },
],
[
    {
        name: 'ЮРИСТ <b>S</b>',
        points: [
            'ІПС ЮРИСТ',
            'CONTR AGENT ПРОСТИЙ',
            'Онлайн-практикум Академії ЛІГА:ЗАКОН'
        ],
        text: 'Базовий пакет для <strong>молодшого юристконсульта, помічника юриста</strong>. Основна <strong>нормативно-правова база і перевірка контрагентів</strong>',
        price: '1 305',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-lawyer-s/'
    },
    {
        name: 'ЮРИСТ <b>M</b>',
        points: [
            'ІПС ЮРИСТ ПРОФ',
            'VERDICTUM',
            'CONTR AGENT СТАРТ',
            'Онлайн-практикум Академії ЛІГА:ЗАКОН'
        ],
        text: 'Оптимальний пакет для <strong>юристконсульта</strong>, який займається <strong>договірною, претензіційно-судовою практикою</strong>',
        price: '2 520',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-lawyer-m/'
    },
    {
        name: 'ЮРИСТ <b>L</b>',
        points: [
        'ІПС ПРАЙМ',
        'VERDICTUM',
        'CONTR AGENT СТАРТ',
        'ЮРИСТ&ЗАКОН',
        'Онлайн-практикум Академії ЛІГА:ЗАКОН'
        ],
        text: 'Розширений пакет для <strong>старшого юристконсульта</strong> великої або середньої компанії, <strong>юриста юридичної фірми</strong>',
        price: '4 104',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-lawyer-l/'
    },
],
[
    {
        name: 'БУХГАЛТЕР <b>S</b>',
        points: [
            'ІНТЕРБУХ  СТАНДАРТ',
            'ОСОБИСТИЙ ЕКСПЕРТ БАЗОВИЙ',
            'REPORT для юросіб-платників ПДВ',
            'Онлайн-практикум Академії ЛІГА:ЗАКОН',
            'REPORTAX',
        ],
        text: 'Базовий пакет для <strong>молодшого бухгалтера</strong>, основні змни в <strong>законодавстві, довідники і форми, е-звітність, консультації</strong>',
        price: '1 191',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-accountant-s/'
    },
    {
        name: 'БУХГАЛТЕР <b>M</b>',
        points: [
            'ІПС БУХГАЛТЕР ПРОФ',
            'БУХГАЛТЕР&ЗАКОН',
            'REPORT для юросіб-платників ПДВ',
            'CONTR AGENT ПРОСТИЙ',
            'Онлайн-практикум Академії ЛІГА:ЗАКОН',
            'REPORTAX',
        ],
        text: 'Оптимальний пакет для <strong>самостійного бухгалтера</strong> малої компанії або бухгалтера, що надає <strong>аутсорс-послуги</strong>',
        price: '1 623',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-accountant-m/'
    },
    {
        name: 'БУХГАЛТЕР <b>L</b>',
        points: [
            'ІПС ПРАЙМ',
            'ВІСНИК МСФЗ',
            'ОСОБИСТИЙ ЕКСПЕРТ ПРОФЕСІЙНИЙ',
            'REPORT для юросіб-платників ПДВ',
            'CONTR AGENT СТАРТ',
            'Онлайн-практикум Академії ЛІГА:ЗАКОН',
            'REPORTAX',
        ],
        text: 'Розширений пакет для <strong>головного бухгалтера, фінансового директора</strong> великої чи середньої компанії, <strong>держпідприємства</strong>',
        price: '4 295',
        url: ' https://platforma.ligazakon.net/pridbannya-liga360-accountant-l/'
    },
    {
        name: 'HR-МЕНЕДЖЕР',
        points: [
            'ІПС ПРАЙМ',
            'SEMANTRUM ЛЕГКИЙ',
        ],
        text: 'Рішення для HR-менеджера',
        price: '3 888',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-hr-manager/'
    },
],
[
    {
        name: 'PR-МЕНЕДЖЕР <b>S</b>',
        points: [
            'SEMANTRUM ЛЕГКИЙ',
            'ПРАВО УКРАЇНИ',
        ],
        text: 'Базовий пакет для <strong>публічних осіб, власників мікробізнесу</strong>. Відстеження згадувать про себе, <strong>свої торгові марки</strong>',
        price: '2 000',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-pr-manager-s/'
    },
    {
        name: 'PR-МЕНЕДЖЕР <b>M</b>',
        points: [
            'SEMANTRUM ЛЕГКИЙ',
            'CONTR AGENT СТАРТ',
            'ПРАВО УКРАЇНИ'
        ],
        text: 'Оптимальний пакет для <strong>PR-менеджера</strong> малої компанії, <strong>політтехнолога</strong>',
        price: '2 250',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-pr-manager-M/'
    },
    {
        name: 'PR-МЕНЕДЖЕР <b>L</b>',
        points: [
            'SEMANTRUM Оптимальний',
            'CONTR AGENT СТАРТ',
            'ПРАВО УКРАЇНИ'
        ],
        text: 'Розширений пакет для <strong>PR-менеджера</strong> великої або середньої компанії, <strong>PR-агентства</strong>',
        price: '4 950',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-pr-manager-l/'
    },
    {
        name: 'Спеціаліст з безпеки',
        points: [
            'ІПС ПРАЙМ',
            'CONTR AGENT Оптимальний',
            'SEMANTRUM ЛЕГКИЙ',
            'SMS-МАЯК ОПЦІЯ 2',
        ],
        text: 'Рішення для <strong>спеціалиста служби безпеки</strong>',
        price: '4 988',
        url: 'https://platforma.ligazakon.net/pridbannya-liga360-security/'
    }
    ]
];
%>
<section class="tabs-section">
    <div class="container">
        <div class="dragee dragee__tab-1"></div>
        <div class="dragee dragee__tab-2"></div>
        <div class="dragee dragee__tab-3"></div>
        <div class="dragee dragee__tab-4"></div>
        <div class="dragee dragee__tab-5"></div>
        <h2 class="wow fadeInRight">Об'єднайте сили спеціалістів <br>та підберіть свое рішення LIGA360</h2>
        <div class="unified unified_triangle wow fadeInLeft">
            Єдиний робочий простір компанії
        </div>
        <div class="tabs wow fadeInUp" id="packages" >
            <div class="tabs__nav">
                <div class="tabs__btns">
                    <div class="tabs__btns-select">
                        <div class="tabs__btns-select-inner">Топменеджери</div>
                    </div>
                    <div class="tabs__btns-inner">
                        <div class="tabs__btn active">Топменеджери</div>
                        <div class="tabs__btn">Юристи</div>
                        <div class="tabs__btn">Бухгалтери та HR-ри</div>
                        <div class="tabs__btn">Служба безпеки та PR</div>
                    </div>
                </div>
            </div>
            <div class="tabs__cont">
                <% tabItem.forEach((item, index) => { %>
                    <div class="tabs__item<% if (!index){%><%=' active move'%><%}%>">
                        <div class="frame">
                            <div class="row clear">
                                <% item.forEach(tile => { %>
                                    <%- include('tile', {tile}) %>
                                <%})%>
                            </div>
                        </div>
                        <div class="container">
                            <div class="scrollbar" id="scrollbar_<%=index%>">
                                <div class="handle">
                                    <div class="mousearea"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
        <div class="tabs-bottom wow fadeInLeft">
            <div class="row">
                <div class="col-md-10">
                    <div class="tabs-bottom__text">
                        Сформулюйте своє персональне комплексне
                        рішення або знайдіть типове комплексне рішення
                        для свого сегменту або галузі
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="tabs-bottom__btn">
                        <a href="#" class="btn__outer">
                            <span class="btn btn-base btn__inner">
                                <i class="icon-link"></i>Переглянути прайс
                            </span>
                            <span class="btn__blur"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
