<div class="col-md-5">
    <div class="tile">
        <div class="tile__inner">
            <div class="tile__name">
                <div class="tile__name-self"><%-tile.name%></div>
            </div>
            <div class="tile__points">
                <ul>
                    <% tile.points.forEach(point => { %>
                        <li><%=point%></li>
                    <%})%>
                </ul>
            </div>
            <div class="tile__text">
                <%-tile.text%>
            </div>
            <div class="tile__btn-n-price">
                <div class="tile__price">
                    <%=tile.price%> грн/міс
                </div>
                <div class="tile__btn">
                    <a href="<%=tile.url%>" class="btn__outer">
                        <span class="btn btn-base btn__inner">
                            Замовити
                        </span>
                        <span class="btn__blur"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
